<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>{$data['title']}</title>
		<link rel="stylesheet" type="text/css" href="__HOME_CSS__/live.css">
	</head>
	
	<body>
		<div class="file_wrap">
			<div class="file_con">
				<img class="file_img" src="/Public/images/{$data.picIcon}.png"/>
				<p class="file_tit">{$data['fileName']}</p>
				<p class="filesize">{$data['size']}</p>
			</div>
			<a href="{$data['url']}" class="down_btn" target="_blank">下载</a>
			
		</div>
		<div class="l_filedown">
			<img src="//static.clewm.net/static/images/mobile/android_filedown_guide_4187842.png"/>
		</div>
	</body>

	<script type="text/javascript">
			function isWeixin(){
		        var WxObj=window.navigator.userAgent.toLowerCase();
		        if(WxObj.match(/microMessenger/i)=='micromessenger'){
		            return true;
		        }else{
		            return false;
		        }
		    }
			window.onload=function(){
	        	if(isWeixin()){
		            //是微信打开显示提示信息
		            // alert('是微信打开');
		            document.getElementsByClassName('l_filedown')[0].style.display='block';
		            
		        }else{
		            //是非微信打开直接跳转下载地址
		            // alert('不是微信打开');//这里的‘apk网络下载地址’要改成实际地址 
		            document.getElementsByClassName('l_filedown')[0].style.display='none';
		        }
		        
		    }
		</script>
</html>
