<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>{$data['title']}</title>
		<link rel="stylesheet" type="text/css" href="__HOME_CSS__/live.css">
	</head>
	<body>
		<div class="code_warp">
			<div class="code_con">
			<?php if($data['type'] == 1 || $data['type'] == 2): ?>
				<div class="titImg">
					<img src="/Uploads/livecode/file/{$data['picUrl']}"/>
				</div>
			<?php endif; ?>
				<div class="code_text">
					<p class="code_tit">{$data['title']}</p>
					<div class="code_des">
						{$data['content']}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
