<extend name="$_admin_public_layout" />
<block name="script">
	
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/libs/huntertime/css/timePicker.css">
	<script type="text/javascript" src="__PUBLIC__/libs/huntertime/js/jquery-timepicker.js"></script>
	<script type="text/javascript" src="__CUI__/js/duourl.js"></script>
</block>
<block name="main">
	<style type="text/css">
    /* Builder样式 */
    .builder .builder-container .builder-data-empty {
        margin-bottom: 20px;
        background-color: #f9f9f9;
    }
    .builder .builder-container .builder-data-empty .empty-info {
        padding: 130px 0;
        color: #555;
    }
    .builder .builder-container .builder-table .table td {
        max-width: 600px;
        vertical-align: middle;
        overflow: hidden;
    }
    .builder .builder-container .builder-table .table td img.picture {
        max-width: 200px;
        max-height: 40px;
    }
    .builder .builder-container .pagination {
        margin-top: 0px;
    }
    .builder.formbuilder-box .form-builder .img-box .remove-picture {
        color: red;
        position: absolute;
        top: 0;
        right: 2px;
        background: #fff;
        border-radius: 20px;
        cursor: pointer;
    }
    .builder.formbuilder-box .form-builder .img-box .remove-picture:hover {
        color: #DD0000;
        box-shadow: inset 0 1px 1px red, 0 0 8px red;
    }
    .builder.formbuilder-box .form-builder .file-box .remove-file {
        color: red;
        position: absolute;
        top: 12px;
        right: 10px;
        border-radius: 20px;
        cursor: pointer;
    }
    .builder.formbuilder-box .form-builder .file-box .remove-file:hover {
        color: #DD0000;
        box-shadow: inset 0 1px 1px red, 0 0 8px red;
    }
    .builder.formbuilder-box .form-builder .board_list .board {
        padding: 0px;
        margin-right: 10px;
    }
    @media (min-width: 768px) {
        .builder.formbuilder-box .form-builder .input,
        .builder.formbuilder-box .form-builder .select,
        .builder.formbuilder-box .form-builder .textarea {
            width: 70%;
        }
        .builder.formbuilder-box .form-builder .submit,
        .builder.formbuilder-box .form-builder .return {
            min-width: 120px;
        }
        .builder.formbuilder-box .form-builder.form-horizontal {
            padding: 0 15px;
        }
        .builder.formbuilder-box .form-builder.form-horizontal .control-label {
            text-align: left;
        }
        .builder.formbuilder-box .form-builder.form-horizontal .left {
            width: 15%;
            float: left;
        }
        .builder.formbuilder-box .form-builder.form-horizontal .right {
            width: 85%;
            float: left;
        }
    }
    @media (min-width: 992px) {
        .builder.formbuilder-box .form-builder.form-horizontal .left {
            width: 12%;
            float: left;
        }
        .builder.formbuilder-box .form-builder.form-horizontal .right {
            width: 88%;
            float: left;
        }
    }
</style>
	<div class="builder formbuilder-box panel-body">
    
    
    <div class="builder-container">
        <div class="row">
            <div class="col-xs-12">
                <form action="{:U('edit')}" method="post" class="form-horizontal form form-builder">
	                <input type="hidden" name="id" value="{$info.id}">

                    <div class="col-xs-12">
	                   <div class="form-group item_title ">
                            <label class="left control-label">网址名称</label>
                            <div class="right">
                                <input type="text" class="form-control input text" name="name" value="{$info.name}" >
                                <input type="hidden" class="form-control input text" name="menuId" value="{$menuId}" >
                                
                            </div>
                        </div>                             
                                  
<script type="text/html" id="sdtjmb">
	  <div class="form-group item_title tzljmb">
        <label class="left control-label">跳转网址：</label>
        <div class="right">
            <input type="text"  name="title[]" value="" size="100" >
              跳转时间 <input type="text" class="time-picker" name="tztime[]" value="" readonly size="10">   
                       <input type="button" class="btn btn-danger btn-xs" value="删除" onclick="deletetzmb(this)">	  
        </div>
    </div> 
</script>
<div class="sdtj" >
	 <div class="form-group item_title " >
        <label class="left control-label"> <input class="btn btn-primary" type="button" id="addtzlj" value="增加跳转连接"></label>
        <div class="right">跳转时间只有选择按时间跳转时才需要输入并有效 </div>   
    </div>
    <volist name="info.title" id="vo">
    <div class="form-group item_title tzljmb" >
        <label class="left control-label">跳转网址：</label>
        <div class="right">
            <input type="text" class="" name="title[]" value="{$vo}" size="100" >
               跳转时间 <input type="text" class="time-picker" name="tztime[]" value="{$info['tztime'][$key]}" readonly size="10">    <gt name="key" value="0"><input type="button" class="btn btn-danger btn-xs" value="删除" onclick="deletetzmb(this)"></gt></div>
    </div>
    </volist>
	   
      
</div>
                                    <div class="form-group item_title ">
        <label class="left control-label">跳转方式：</label>
        <div class="right">
           <label class="radio-inline"> 
  <input type="radio" name="tztype"  value="1" <eq name="info.tztype" value="1">checked</eq>> 随机跳转
</label>
<label class="radio-inline">
  <input type="radio" name="tztype"  value="2" <eq name="info.tztype" value="2">checked</eq>> 顺序跳转
</label>
<label class="radio-inline" id="sjtz" >
  <input type="radio" name="tztype"  value="3" <eq name="info.tztype" value="3">checked</eq>> 按时间跳转
</label>
                    </div>
    </div>                                                                <div class="form-group"></div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block submit ajax-post visible-xs visible-sm" type="submit" target-form="form-builder">确定</button>
                            <button class="btn btn-primary submit ajax-post visible-md-inline visible-lg-inline" type="submit" target-form="form-builder">确定</button>
                            <button class="btn btn-default return visible-md-inline visible-lg-inline" onclick="javascript:history.back(-1);return false;">返回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
    </div>
    
</block>