    <div class="clearfix full-script">
        <div class="container-fluid">
            <input type="hidden" id="corethink_home_img" value="__HOME_IMG__">
            <script type="text/javascript" src="__CUI__/js/cui.min.js"></script>
            <script type="text/javascript" src="__HOME_JS__/home.js"></script>
            <block name="script"></block>
            {:C('WEB_SITE_STATISTICS')} <!-- 站点统计代码 -->
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/libs/cui/css/cui.extend.min.css">
    <script type="text/javascript" src="__PUBLIC__/libs/cui/js/cui.extend.min.js"></script>
</body>
</html>
