<extend name="$_admin_public_layout" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__CUI__/css/addCode.css"/>
    <link rel="stylesheet" type="text/css" href="__CUI__/css/layer.css"/>
    <link rel="stylesheet" type="text/css" href="__CUI__/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="__CUI__/css/fileinput.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/libs/video/css/style.css">
</block>
<block name="main">
<input type="hidden" id="editId" value="{$data['id']}">
<input type="hidden" id="menuId" value="{$data['menuId']}">
<input type="hidden" id="codeType" value="{$data['codeType']}">

    <div class="wrapper">

<!-- 图文活码S -->
        <div class="editor-wrap" <?php if($data['type'] == 1){echo 'style="display: block;"';} ?>>
            <div class="editor_main txt_main lf">
                <div class="edit-left">
                    <div class="upload-img">
                        <div class="layui-upload">
                          <div class="layui-upload-list">
                            <img class="layui-upload-img" id="demo1" src="/{$data['picUrl']}">
                            <p id="demoText"></p>
                          </div>
                          <button type="button" class="layui-btn" id="test1">上传图片</button>
                        </div> 
                        <input type="hidden" id="uploadPicUrl" value="{$data['picUrl']}">
                    </div><br>
                    <div class="right">
                        <input type="text" class="form-control input text font20" id="title" value="{$data['title']}" placeholder="请输入标题名称">
                    </div><br>
                    <div>
                        <div class="right">
                            <textarea name="content" class="form-control imgtext" >{$data['content']}</textarea>
                        </div>
                    </div>
                </div>
                
                <div class="clear"></div>
            </div>
            <div class="edit-right">
                <div class="edit_left">
                    <div class="txt_right" id="code1">
                        <img src="/Uploads/livecode/{$data['id']}.png"/>
                    </div>
                    <a href="/Uploads/livecode/{$data['id']}.png" download="图文活码" class="btn-sm btn_xz" id="img1">下载</a>
                    <div class="create-btn">
                        <button id="save_btn" class="btn-sm green-btn">生成二维码</button>
                    </div>
                </div>
                
            </div>
        </div>
<!-- 图文活码E -->

<!-- 文本活码S -->
        <div class="editor-wrap" <?php if($data['type'] == 2){echo 'style="display: block;"';} ?>>
            <div class="editor_main txt_main">
                <div class="txt_left">
                    <div class="right">
                        <input type="text" class="form-control input text font20" id="title2" value="{$data['title']}" placeholder="请输入标题名称">
                    </div><br>
                    <div class="desc-wrap">
                        <textarea id="content2" class="main_text" placeholder="请输入文本内容">{$data['content']}</textarea>
                    </div>
                </div>
                <div class="edit_left">
                    <div class="txt_right" id="code2">
                        <img src="/Uploads/livecode/{$data['id']}.png"/>
                    </div>
                    <a href="/Uploads/livecode/{$data['id']}.png" download="文本活码" class="btn-sm btn_xz" id="img2">下载</a>
                    <div class="create-btn">
                        <button id="save_btn2" class="btn-sm green-btn">生成二维码</button>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
<!-- 文本活码E -->

<!-- 文件活码S -->
        <div class="editor-wrap" <?php if($data['type'] == 3){echo 'style="display: block;"';} ?>>
            <div class="editor_main txt_main">
                <div class="txt_left">
                    <input type="text" class="form_inp" placeholder="请输入标题名称" id="title3" value="{$data['title']}" style="margin-bottom: 30px;" />
                	<table id="container" class="layui-table">
					    <colgroup>
					        <col width="42%">
					        <col width="35%">
					        <col width="12%">
					        <col width="12%">
					        <col>
					    </colgroup>
					</table>
                </div>
                <input type="hidden" id="uploadFileName" value="{$data['fileName']}">
                <input type="hidden" id="uploadFileSize" value="{$data['size']}">
                <input type="hidden" id="uploadFileUrl" value="{$data['url']}">
                <div class="edit_left">
                    <div class="txt_right" id="code3">
                        <img src="/Uploads/livecode/{$data['id']}.png"/>
                    </div>
                    <a href="/Uploads/livecode/{$data['id']}.png" download="文件活码" class="btn-sm btn_xz" id="img3">下载</a>
                    <div class="create-btn">
                        <button id="save_btn3" class="btn-sm green-btn">生成二维码</button>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
<!-- 文件活码E -->

<!-- 网址导航S -->
        <div class="editor-wrap" <?php if($data['type'] == 4){echo 'style="display: block;"';} ?>>
            <div class="editor_main txt_main">
                <div class="txt_left">
                    <div class="right">
                        <input type="text" class="form_inp" placeholder="请输入标题名称" id="title4" value="{$data['title']}" style="margin-bottom: 20px;" />
                        <div class="" id="title_content">

                            <volist name="data['url']" id="vo" key="k">
                            <div class="url-row row no-gutter m-b" num="{$k}">
                                <div class="col-md-3">
                                    <input type="text" placeholder="文字说明" class="form-control url-border url-desc " value="{$vo['desc']}">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="链接地址http://" class="form-control url-border url-link" value="{$vo['link']}">
                                </div>
                                <div class="col-md-3">
                                    <i class="fa fa-arrow-up url-icon url-up"></i>
                                    <i class="fa fa-arrow-down  url-icon url-down"></i>
                                    <i class="fa fa-trash url-icon delicon"></i>
                                </div>
                            </div>
                            </volist>

                            <i class="fa fa-plus url-icon" id="add_url_btn" val="">&nbsp;添加网址</i>
                            <div class="clear"></div>
                        </div>
                        <!-- <span class="check-tips text-muted small">请在网址前添加http://,确保网址完整！</span> -->
                        <div class="right">
                            <textarea name="content" class="form-control imgtext imgtext2" >{$data['url'][0]['content']}</textarea>
                        </div>
                    </div>
                </div>
                <div class="edit_left">
                    <div class="txt_right" id="code4">
                        <img src="/Uploads/livecode/{$data['id']}.png"/>
                    </div>
                    <a href="/Uploads/livecode/{$data['id']}.png" download="网址导航" class="btn-sm btn_xz" id="img4">下载</a>
                    <div class="create-btn">
                        <button id="save_btn4" class="btn-sm green-btn">生成二维码</button>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
<!-- 网址导航E -->

<!-- 名片活码S -->
        <div class="editor-wrap" <?php if($data['type'] == 5){echo 'style="display: block;"';} ?>>
            <div class="editor_main txt_main lf" >
                <div id="leftwrap">
                    <div class="left_box left_basic border-rt-green">
                        <div class="bg_wrap basic-bg-wrap green hidden">
                            <div class="bg">基本信息</div>
                        </div>
                        <div class="vcard_head <?php if($data['layoutbg'] == '1'): ?>layout-m<?php elseif($data['layoutbg'] == '2'): ?>layout-r<?php endif; ?>" style="background-image: url('{$data['head']}');">
                            <div class="vcard_face_wrap">
                                <div class="vcard_face_bg"></div>
                                <div class="vcard_face" style="background-image: url('{$data['face']}');"></div>
                            </div>

                            <div class="vcard_career_wrap">
                                <p id="vcard_data_name" class="lang" data-lang-key="Name" >{$data['name']}</p>
                                <p class="vcard_data_appointment lang" data-lang-key="Position">{$data['appointment']}</p>
                                <p class="vcard_data_company lang" data-lang-key="Company">{$data['company']}</p>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <volist name="data['branch']" id="vo" key="k">
                        <div class="left_addable_wrap" data-class="ebumen{$k}">
                            <div class="vcard_data_txt b-b basic_info">
                                <span class="vcard_data_title ebranch{$k}">{$vo.ch}</span>
                                <span class="vcard_data_value ebumen{$k}">{$vo.val}</span>
                            </div>
                        </div>
                        </volist>

                    </div>
                    <div class="left_box left_phone">
                        <div class="bg_wrap green hidden">
                            <div class="bg text-center ">联系信息</div>
                        </div>
                        <volist name="data['left_phone']" id="vo" key="k">
                        <div class="left_addable_wrap" id="{$vo.id}">
                            <div class="vcard_data_txt b-b">
                                <span class="vcard_data_title lang" data-lang-key="{$vo.en}">{$vo.ch}</span>
                                <span class="{$vo.class}">{$vo.val}</span>
                            </div>
                            <volist name="vo['child']" id="vo2" key="k2">
                            <div class="left_addable_wrap" data-class="e{$vo2.data-class}">
                                <div class="vcard_data_txt b-b">
                                    <span class="vcard_data_title n{$vo2.data-class}">{$vo2.ch}</span>
                                    <span class="vcard_data_value e{$vo2.data-class}">{$vo2.val}</span>
                                </div>
                            </div>
                            </volist>
                        </div>
                        </volist>
                    </div>
                    <div class="left_box left_internet">
                        <div class="bg_wrap green hidden">
                            <div class="bg text-center ">社交信息</div>
                        </div>

                        <volist name="data['left_internet']" id="vo" key="k">
                        <div class="left_addable_wrap" id="{$vo.id}">
                            <div class="vcard_data_txt b-b">
                                <span class="vcard_data_title lang" data-lang-key="{$vo.en}">{$vo.ch}</span>
                                <span class="{$vo.class}">{$vo.val}</span>
                            </div>
                            <volist name="vo['child']" id="vo2" key="k2">
                            <div class="left_addable_wrap" data-class="e{$vo2.data-class}">
                                <div class="vcard_data_txt b-b">
                                    <span class="vcard_data_title n{$vo2.data-class}">{$vo2.ch}</span>
                                    <span class="vcard_data_value e{$vo2.data-class}">{$vo2.val}</span>
                                </div>
                            </div>
                            </volist>
                        </div>
                        </volist>

                    </div>

                    <div class="left_box left_address">
                        <div class="bg_wrap green hidden">
                            <div class="bg">地址</div>
                        </div>
                        <volist name="data['left_address']" id="vo" key="k">
                        <div class="left_addable_wrap" id="{$vo.id}">
                            <div class="vcard_address vcard_data_txt b-b">
                                <span class="vcard_data_title lang" data-lang-key="{$vo.en}">{$vo.ch}</span>
                                <span class="{$vo.class}">{$vo.val}</span>
                            </div>

                            <volist name="vo['child']" id="vo2" key="k2">
                            <div class="left_addable_wrap" data-class="e{$vo2.data-class}">
                                <div class="vcard_data_txt b-b">
                                    <span class="vcard_data_title n{$vo2.data-class}">{$vo2.ch}</span>
                                    <span class="vcard_data_value e{$vo2.data-class}">{$vo2.val}</span>
                                </div>
                            </div>
                            </volist>

                        </div>
                        </volist>

                    </div>
                    <div class="left_box left_intro borderlt">
                        <div class="bg_wrap green borderlt hidden">
                            <div class="bg">个人说明</div>
                        </div>
                        <div class="vcard_other vcard_data_txt b-b borderlt">
                            <span class="vcard_data_title lang" data-lang-key="{$data['left_intro'][0]['en']}">{$data['left_intro'][0]['ch']}</span>
                            <span class="vcard_data_value vcard_data_introduce">{$data['left_intro'][0]['val']}</span>
                        </div>
                    </div>

                    <div class="language">
                        <span>手机显示语言:</span>
                        <label id="lang-cn" for="cn" class="radio-inline">
                            <input name="lang" type="radio" id="cn" value="cn" <?php if($data['lang'] == 'cn'): ?>checked="checked"<?php endif; ?>>中文
                        </label>
                        <label id="lang-en" for="en" class="radio-inline">
                            <input name="lang" type="radio" id="en" value="en" <?php if($data['lang'] == 'en'): ?>checked="checked"<?php endif; ?>>英语
                        </label>
                        <input type="hidden" id="lang" value="{$data['lang']}" />
                    </div>
                </div>
                <div id="rightwrap">
                    <div class="edit_area" style="display: block;">
                        <i class="arrowl"></i>
                        <i class="fa fa-close close"></i>
                        <div class="formlist">
                            <div class="form-group">
                                <label class="form-control-label lang" data-lang-key="Avatar">头像</label>
                                <div id="avatar-upload">
                                    <div class="up_btn">
                                        <span>上传头像</span>
                                        <input type="file" title="上传头像" name="file" class="head_upload uploadfile" id="uploadAvatar">
                                    </div>
                                </div>
                                <div id="portraitSubmit" class="parent" style="display: none;">
                                    <div class="preview-size">
                                        <img width="100%" class="head_img" src="__PUBLIC__/images/vcardbg7.jpg"/>
                                        <a href="javascript:;" class="fa fa-close up_close"></a>
                                        <input type="file" title="上传头像" name="file" class="head_upload uploadfile">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label lang" data-lang-key="Background">封面图</label>
                                <div class="form_file" style="display: none;">
                                    <button class="up_btn bj show_btn">选择封面图</button>
                                </div>
                                <div id="front_cover" class="parent" style="display: block;">
                                    <div class="preview-size">
                                        <img width="100%"  class="show_btn bgbtn" src="{$data['head']}"/>
                                        <a href="javascript:;" class="fa fa-close up_close"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label lang" data-lang-key="Fullname">姓名</label>
                                <div class="inp_t">
                                    <input type="text"  maxLength = '50' oninput="listenIn(this,'#vcard_data_name')"  value="{$data['name']}"  placeholder="必填"/>
                                    <span class="length_tip"><font>0</font>/50</span>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label class="form-control-label lang"  data-lang-key="Position">职位</label>
                                <div class="inp_t">
                                    <input type="text" maxLength = "100" oninput="listenIn(this,'.vcard_data_appointment')" value="{$data['appointment']}" />
                                    <span class="length_tip"><font>0</font>/100</span>
                                </div>
                            </div>
                            <div class="addable_wrap">
                                <div class="form-group">
                                    <label class="form-control-label lang" data-lang-key="Company">公司</label>
                                    <div class="inp_t">
                                        <input type="text" maxLength = '50' oninput="listenIn(this,'.vcard_data_company')" value="{$data['company']}" />
                                        <span class="length_tip"><font>0</font>/50</span>
                                    </div>
                                    <a href="javascript:;" class="add_com add_com1 fa fa-plus" val = "0"></a>
                                </div>

                                <volist name="data['branch']" id="vo" key="k">
                                <div class="form-group">
                                    <input class="form-control-label input1 noinput" value="{$vo.ch}" oninput="listenIn(this,'.ebranch{$k}')" data-class="ebumen{$k}">
                                    <div class="inp_t">
                                        <input type="text" value="{$vo.val}" oninput="listenIn(this,'.ebumen{$k}')">
                                    </div>
                                    <a href="javascript:;" class="fa fa-trash remove_com" onclick="remove(this)"></a>
                                </div>
                                </volist>

                            </div>
                            <div class="form-group">
                                <label class="form-control-label lang" data-lang-key="Layout">展示位置</label>
                                <div class="inp_t">
                                    <ul class="field-layout"> 
                                        <li class="layoutbg1 <?php if($data['layoutbg'] == '0'): ?>active<?php endif; ?>"><span></span></li>
                                        <li class="layoutbg2 <?php if($data['layoutbg'] == '1'): ?>active<?php endif; ?>"><span></span></li>
                                        <li class="layoutbg3 mr0  <?php if($data['layoutbg'] == '2'): ?>active<?php endif; ?>"><span></span></li>
                                        <input type="hidden" id="info-layout"  value="{$data['layoutbg']}"/>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit_area">
                        <i class="arrowl"></i>
                        <i class="fa fa-close close"></i>
                        <div class="formlist">

                        <volist name="data['left_phone']" id="vo" key="k">
                            <div class="addable_wrap">
                                <div class="form-group">
                                    <label class="form-control-label lang" data-lang-key="{$vo.en}">{$vo.ch}</label>
                                    <div class="inp_t">
                                        <input type="text" oninput="listenIn(this,'.{$vo.class|getPartStr}')" value="{$vo.val}"/>
                                        <!-- <span class="length_tip"><font>0</font>/20</span> -->
                                    </div>
                                    <?php if($k == 2): ?>
                                        <!-- <?php var_dump($vo);?> -->
                                    <a href="javascript:;" class="add_com add_mp fa fa-plus" val = "0"></a>
                                    <?php elseif($k == 3): ?>
                                    <a href="javascript:;" class="add_com add_fax fa fa-plus" val = "0"></a>
                                    <?php elseif($k == 4): ?>
                                    <a href="javascript:;" class="add_com add_email fa fa-plus" val = "0"></a>
                                    <?php endif; ?>
                                </div>

                                <volist name="vo['child']" id="vo2" key="k2">
                                <div class="form-group">
                                    <input class="form-control-label input1 noinput" value="{$vo2.ch}" oninput="listenIn(this,'.n{$vo2.data-class}')" data-class="e{$vo2.data-class}"><div class="inp_t">
                                    <input type="text" value="{$vo2.val}" oninput="listenIn(this,'.e{$vo2.data-class}')">
                                    </div>
                                    <a href="javascript:;" class="fa fa-trash remove_com" onclick="remove(this)"></a>
                                </div>
                                </volist>

                            </div>
                        </volist>

                        </div>
                    </div>
                    <div class="edit_area">
                        <i class="arrowl"></i>
                        <i class="fa fa-close close"></i>
                        <div class="formlist">

                        <volist name="data['left_internet']" id="vo" key="k">
                            <div class="addable_wrap">
                                <div class="form-group">
                                    <label class="form-control-label lang" data-lang-key="{$vo.en}">{$vo.ch}</label>
                                    <div class="inp_t">
                                        <input type="text" oninput="listenIn(this,'.{$vo.class|getPartStr}')" value="{$vo.val}"/>
                                        <!-- <span class="length_tip"><font>0</font>/20</span> -->
                                    </div>
                                    <?php if($k == 1): ?>
                                    <a href="javascript:;" class="add_com add_wechat fa fa-plus" val = "0"></a>
                                    <?php elseif($k == 2): ?>
                                    <a href="javascript:;" class="add_com add_website fa fa-plus" val = "0"></a>
                                    <?php endif; ?>
                                </div>

                                <volist name="vo['child']" id="vo2" key="k2">
                                <div class="form-group">
                                    <input class="form-control-label input1 noinput" value="{$vo2.ch}" oninput="listenIn(this,'.n{$vo2.data-class}')" data-class="e{$vo2.data-class}"><div class="inp_t">
                                    <input type="text" value="{$vo2.val}" oninput="listenIn(this,'.e{$vo2.data-class}')">
                                    </div>
                                    <a href="javascript:;" class="fa fa-trash remove_com" onclick="remove(this)"></a>
                                </div>
                                </volist>

                            </div>
                        </volist>

                        </div>
                    </div>
                    <div class="edit_area">
                        <i class="arrowl"></i>
                        <i class="fa fa-close close"></i>
                        <div class="formlist">

                            <volist name="data['left_address']" id="vo" key="k">
                            <div class="addable_wrap">
                                    <div class="form-group">
                                        <label class="form-control-label lang" data-lang-key="{$vo.en}">{$vo.ch}</label>
                                        <div class="inp_t">
                                            <input type="text" oninput="listenIn(this,'.{$vo.class|getPartStr}')"  value="{$vo.val}"/>
                                            <!-- <span class="length_tip"><font>0</font>/50</span> -->
                                        </div>
                                        <a href="javascript:;" class="add_com add_address fa fa-plus" val = "0"></a>
                                    </div>

                                    <volist name="vo['child']" id="vo2" key="k2">
                                    <div class="form-group">
                                        <input class="form-control-label input1 noinput" value="{$vo2.ch}" oninput="listenIn(this,'.n{$vo2.data-class}')" data-class="e{$vo2.data-class}"><div class="inp_t">
                                        <input type="text" value="{$vo2.val}" oninput="listenIn(this,'.e{$vo2.data-class}')">
                                        </div>
                                        <a href="javascript:;" class="fa fa-trash remove_com" onclick="remove(this)"></a>
                                    </div>
                                    </volist>
                                
                            </div>
                            </volist>
                            
                        </div>
                    </div>
                    <div class="edit_area">
                        <i class="arrowl"></i>
                        <i class="fa fa-close close"></i>
                        <div class="formlist">
                            <div class="form-group">
                                <label class="form-control-label lang" data-lang-key="{$data['left_intro'][0]['en']}">{$data['left_intro'][0]['ch']}</label>
                                <div class="inp_t" style="width: 400px;">
                                    <textarea id="info-introduce" oninput="listenIn(this,'.vcard_data_introduce')" class="textarea1" maxlength="200" value="">{$data['left_intro'][0]['val']}</textarea>
                                    <!-- <span class="length_tip txt_tip"><font>0</font>/200</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="card_code">
                <div class="edit_left">
                    <div class="txt_right" id="code5">
                        <img src="/Uploads/livecode/{$data['id']}.png"/>
                    </div>
                    <a href="/Uploads/livecode/{$data['id']}.png" download="名片活码" class="btn-sm btn_xz" id="img5">下载</a>
                    <div class="create-btn">
                        <button id="save_btn5" class="btn-sm green-btn">生成二维码</button>
                    </div>
                </div>
            </div>
        </div>
<!-- 名片活码S -->
    </div>
    <div class="theme-popover-mask"></div>
    <div class="theme-popover">
        <div class="modal-header"><h4 class="modal-title">选择封面图</h4></div>
        <div class="select-bg">
            <input type="hidden" id="sel-bgcolor"  value="">
            <ul id="bglist">
                <li class="simple_bg <?php if($data['head'] == '/Public/images/vcardbg1.jpg'): ?>active<?php endif; ?>"><img src="__PUBLIC__/images/vcardbg1.jpg"/><span></span></li>
                <li class="simple_bg <?php if($data['head'] == '/Public/images/vcardbg2.jpg'): ?>active<?php endif; ?>"><img src="__PUBLIC__/images/vcardbg2.jpg"/><span></span></li>
                <li class="simple_bg <?php if($data['head'] == '/Public/images/vcardbg3.jpg'): ?>active<?php endif; ?>"><img src="__PUBLIC__/images/vcardbg3.jpg"/><span></span></li>
                <li class="simple_bg <?php if($data['head'] == '/Public/images/vcardbg4.jpg'): ?>active<?php endif; ?>"><img src="__PUBLIC__/images/vcardbg4.jpg"/><span></span></li>
                <li class="simple_bg <?php if($data['head'] == '/Public/images/vcardbg5.jpg'): ?>active<?php endif; ?>"><img src="__PUBLIC__/images/vcardbg5.jpg"/><span></span></li>
                <li class="simple_bg <?php if($data['head'] == '/Public/images/vcardbg6.jpg'): ?>active<?php endif; ?>"><img src="__PUBLIC__/images/vcardbg6.jpg"/><span></span></li>
                <li class="simple_bg <?php if($data['head'] == '/Public/images/vcardbg7.jpg'): ?>active<?php endif; ?>"><img src="__PUBLIC__/images/vcardbg7.jpg"/><span></span></li>
                <li class="simple_bg <?php if($data['head'] == '/Public/images/vcardbg8.jpg'): ?>active<?php endif; ?>"><img src="__PUBLIC__/images/vcardbg8.jpg"/><span></span></li>
                <li class="simple_bg <?php if($data['head'] == '/Public/images/vcardbg9.jpg'): ?>active<?php endif; ?>"><img src="__PUBLIC__/images/vcardbg9.jpg"/><span></span></li>
                <li class="simple_bg <?php if($data['head'] == '/Public/images/vcardbg10.jpg'): ?>active<?php endif; ?>"><img src="__PUBLIC__/images/vcardbg10.jpg"/><span></span></li>
                <div class="youself_bg"><p>自定义背景</p></div>
                <div class="bg-upload">
                    <input type="file" name="file" class="uploadfile" id="upload-bg" title="上传封面图">
                    <span>本地上传</span>
                </div>
                <li class="imgShowBox" style="display: none;">
                    <div class="imgshow">
                        <img src="__PUBLIC__/images/vcardbg4.jpg" alt="" style="display: inline;">
                    </div>
                    <span></span>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn_modal btn-cancel" >取消</button>
            <button type="button" class="btn_modal btn-ok">确定</button>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__CUI__/js/fileinput.js"></script>
    <script type="text/javascript" src="__CUI__/js/addcode.js"></script>
    <script type="text/javascript" src="__CUI__/js/layui.js"></script>
    <script type="text/javascript" src="__CUI__/js/cardlive.js"></script>
    <script type="text/javascript" src="__CUI__/js/moreupload.js"></script>
    <script type="text/javascript" src="/Public/libs/kindeditor/kindeditor-min.js" charset="utf-8"></script>
    <script src="__ADMIN_JS__/qrcode.js" type="text/javascript"></script>   <!-- 页面修改的JS加到这里 --> 
</block>