<extend name="$_home_public_layout"/>

<block name="style">
    <link rel="stylesheet" type="text/css" href="__HOME__/User/css/style.css"/>
</block>

<block name="main">
	<!-- 已购套餐id -->
	<input type="hidden" id="vipId" value="{$order['vipId']}">
	<input type="hidden" id="sale" value="{$order['sale']}">

	<div class="main">
		<div class="ahm-header">
			<div class="w1000">
				<!--用户名、系统后台-->
				<div class="user_plugins fr">
					<div class="user_name">
						<i class="fa fa-user"></i> 
						{$_user_auth.username}
						<b class="caret"></b>
					</div>
					<ul class="dropdown-menu" role="menu">
                        <li><a href="/admin.php?s=/admin/public/logout.html" class="ajax-get"><i class="fa fa-sign-out"></i> 退出</a></li>
                    </ul>
					<a href="/admin.php?s=/admin/index/index.html" class="user_info_link">系统后台</a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="top">
			<div class="w1000">
				<div class="logo left">
					<a href="/"><img src="__HOME__/User/img/logo.png"/></a>
					<a href="#" class="buy_txt">购买</a>
				</div>
				<div class="step right">
					<img src="__HOME__/User/img/step1.png"/>
				</div>
			</div>
		</div>
		<div class="mainwarp w1000">
			<div class="choose_edition">
				<p class="tit_txt"><span class="tit1">1.请选择版本</span>（一次性开通多年，还可以享受折扣优惠，年限越大，折扣越大。<font style="color: red;">2年9折！3年8折！5年7折！</font>详情请咨询我们在线售前工程师。）</p>
				<ul class="edition">
					<volist name="vips" id="vo">
						<li vipId="{$vo['id']}" <?php if($vo['is_recommed']){echo 'class="edit_on"';} ?>>{$vo['name']}</li>
					</volist>
					<div class="clear"></div>
				</ul>
			</div>
			<div class="choose_edition">
				<p class="tit1">2.请选择时长</p>
				<div class="ch_edit">
					<volist name="vips" id="vo" key="k">
						<ul <?php if($vo['is_recommed']){echo 'class="duration dis_block"';}else{echo 'class="duration" style="display: none;" ';} ?>>
							<volist name="versions" id="vo2">
								<?php if($vo['id'] == $vo2['vipId']): ?>
										<li><span><font class="jine">{$vo2['price']}</font>元/年</span><p>{$vo2['year']}年</p></li>
								<?php endif; ?>
							</volist>
							<div class="clear"></div>
						</ul>
					</volist>
				</div>
			</div>

			<div class="now_buy">
				<form action="{:U('Home/Order/buy')}" method="post" class="theme-buy">
					<span>正在开通&nbsp;</span>  
					<span class="col1">{$recommed['name']}&nbsp;{$recommed['year']}年</span>
					<span>&nbsp;&nbsp;套餐价：<span class="col2">￥<font>{$recommed['price']*$recommed['year']}</font></span></span>
					<span>&nbsp;&nbsp;已购套餐抵扣：<span class="col3 sale">￥<font>0</font></span></span>
					<span>&nbsp;&nbsp;折后总计：<span class="col3 total">￥<font>9999</font></span></span>

					<input type="hidden" class="vip" name="vip" value="">
					<input type="hidden" class="year" name="year" value="">
					<input type="hidden" class="money" name="money" value="">
					<input type="submit" class="buy_btn ajax-post" target-form="theme-buy" value="提交订单"/>
				</form>
			</div>
			<div class="contrast_tab">
				<p class="tit1">版本对比表：</p>
				<table border="1" cellspacing="0" cellpadding="0" class="con_table">
					<thead>
						<tr>
							<th>对比项</th>
							<volist name="vips" id="vo">
								<th <?php if($vo['is_recommed']){echo 'class="bgcolg"';} ?>>{$vo['name']}</th>
							</volist>	
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>活码数量</td>
							<volist name="vips" id="vo">
								<td <?php if($vo['is_recommed']){echo 'class="bgcolg"';} ?>>{$vo['livecode_count']|showDiffCount="text",###}个</td>
							</volist>
						</tr>
						<tr>
							<td>活码访问限制次数</td>
							<volist name="vips" id="vo">
								<td <?php if($vo['is_recommed']){echo 'class="bgcolg"';} ?>>{$vo['limit_count']|showDiffCount="text",###}次</td>
							</volist>
						</tr>
						<tr>
							<td>空间容量</td>
							<volist name="vips" id="vo">
								<td <?php if($vo['is_recommed']){echo 'class="bgcolg"';} ?>>{$vo['zone_size']|showDiffCount="text",###}M</td>
							</volist>
						</tr>
						<tr>
							<td>统计追踪</td>
							<volist name="vips" id="vo">
								<td <?php if($vo['is_recommed']){echo 'class="bgcolg"';} ?>>{$vo['count_track']|showDiffCount="select",###}</td>
							</volist>
						</tr>

						<volist name="recommed['detail']" id="v" key="k">
						<tr>
							<td>{$v.desc}</td>
							<volist name="vips" id="vo">
								<td  <?php if($vo['is_recommed']){echo 'class="bgcolg"';} ?>>{$vo['detail'][$k-1]['val']|showDiffCount="text",###}</td>
							</volist>
						</tr>
						</volist>
					</tbody>
				</table>
				
			</div>
			<div class="clear"></div>
		</div>
		<footer class="foot">
			<div class="foot_txt">
				<div class="left">
					<p class="left_t">详细产品信息，请咨询我们的售前工程师</p>
					<p class="cont_t"><span class="tel"><i></i>热线电话：{:C('KEFU_TEL')}</span><span class="email"><i></i>邮箱地址：{:C('KEFU_EMAIL')}</span></p>
				</div>
				<a href="tencent://message/?uin={:C('KEFU_QQ')}&Site=QQ交谈&Menu=yes" class="right_t"><img src="__HOME__/User/img/qq.png"/></a>
			</div>
		</footer>
		<div class="clear"></div>
	</div>
	<!--登录弹出框-->
	<div class="theme-popover" style="display: none;">
		<span class="close"><img src="__HOME__/User/img/close.png"/></span>
		<div class="login">
			<h2>登录</h2>
			<form action="{:U('Home/User/login')}" method="post" class="theme-login loginform">
				<input type="text" placeholder="手机号或邮箱" class="login-inp" name="username" value=""/>
				<input type="password" placeholder="密码"   class="login-inp" name="password" value=""/>
				<input type="submit" class="theme-sub ajax-post" target-form="loginform" value="登 录"/>
			</form>
			<a class="forback">忘记密码</a>
			<p style="height: 15px;"></p>
			<a href="#" class="fontc free-regist">免费注册</a>
		</div>

		<div class="regist" style="display: none;">
			<h2>注册</h2>
			<form action="{:U('Home/User/regist')}" class="theme-login registform">
				<input type="text" placeholder="用户名" class="login-inp" name="username" value="" />
				<input type="text" placeholder="手机号" class="login-inp" name="mobile" value="" />
				<input type="text" placeholder="邮箱" class="login-inp" id="email2" name="email" value="" />
				<div class="inp-box">
					<input type="text" placeholder="邮箱验证码" class="login-inp" name="emailVerify" value="" />
					<input type="button" value="发送" onclick="sendEmails('{:U("Home/User/getEmailVerify")}','email2')" class="inp-btn" id="registbtn"/>
				</div>
				<input type="password" placeholder="密码（8-20位，必须包含字母和数字）" class="login-inp" name="password" value=""/>
				<input type="password" placeholder="确认密码" class="login-inp" name="rePassword" value="" />
				<div class="inp-box">
					<input type="text" placeholder="图片验证码" class="login-inp" name="picVerify" value="" />
					<a href="javascript:void(0)" ><img class="verifyimg code-img reload-verify" title="点击刷新" src="{:U('Home/User/verify')}"></a>
				</div>
				<input type="submit" class="theme-sub ajax-post" target-form="registform" value="注 册"/>
			</form>
			<a href="#" class="fontc login-now">现在登录</a>
		</div>
		<div class="get-back" style="display: none;">
			<h2>找回密码</h2>
			<form action="{:U('Home/User/updatePass')}" method="post" class="theme-login updatePass">
				<input type="text" placeholder="邮箱" class="login-inp" id="email3" name="email" value=""/>
				<div class="inp-box">
					<input type="text" placeholder="邮箱验证码" class="login-inp" name="emailVerify" value=""/>
					<input type="button" value="发送" onclick="sendEmail('{:U("Home/User/getEmailVerify")}','email3')" class="inp-btn" id="gobackbtn"/>
				</div>
				<input type="password" placeholder="新密码（8-20位，必须包含字母和数字）" class="login-inp" name="password" value=""/>
				<input type="password" placeholder="确认密码" class="login-inp" name="rePassword" value=""/>
				<div class="inp-box">
					<input type="text" placeholder="图片验证码" class="login-inp" name="picVerify" value=""/>
					<a href="javascript:void(0)" ><img class="verifyimg code-img reload-verify" title="点击刷新" src="{:U('Home/User/verify')}"></a>
				</div>
				<input type="submit" class="theme-sub ajax-post" target-form="updatePass" value="确 定"/>
			</form>
		</div>
	</div>
	<div class="theme-popover-mask" style="display: none;"></div>
</block>
<block name="script">
	<script src="__HOME__/User/js/login.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HOME__/User/js/tab.js" type="text/javascript" charset="utf-8"></script>
</block>