<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>微信支付</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<style type="text/css">
			.pbox {
			    text-align: center;
			    margin-top: 10px;
			    font-weight: bold;
			}
			.wst-fred {
			    color: #df2003;
			}
			.wst-qrcode {
			    width: 260px;
			    height: 260px;
			    text-align: center;
			    margin: 0 auto;
			}
			.wst-qrcode img {
			    width: 260px;
			    height: 260px;
			    margin-top: 10px;
			}
		</style>
	</head>
	<body>
		<div class="main">
			<div class="top">
				<div class="w1000">
					<div class="logo left">
						<a href="#"><img src="img/logo.png"/></a>
						<a href="#" class="buy_txt">购买</a>
					</div>
					<div class="step right">
						<img src="img/step2.png"/>
					</div>
				</div>
			</div>
			<div class="mainwarp w1000">
				<div class="pbox">
		        	请您扫描以下二维码，支付订单总额：<span class="wst-fred">￥0.01</span>
		        </div>
		        <div class="wst-qrcode">
		        	<img src="img/二维码.gif"/>
		        </div>

				<div class="clear"></div>
			</div>
			<footer class="foot">
				<div class="foot_txt">
					<div class="left">
						<p class="left_t">详细产品信息，请咨询我们的售前工程师</p>
						<p class="cont_t"><span class="tel"><i></i>热线电话：0551-65567790</span><span class="email"><i></i>邮箱地址：xiazezhong@hfzeqi.com</span></p>
					</div>
					<a href="#" class="right_t"><img src="img/qq.png"/></a>
				</div>
			</footer>
			<div class="clear"></div>
		</div>
		
	</body>
</html>
