<extend name="$_admin_public_layout" />
<block name="style">
	<link rel="stylesheet" href="__PUBLIC__/product/static_edit/cli/flatkit/assets/styles/app.min.css">
	<link rel="stylesheet" href="__PUBLIC__/product/static_edit/cli/flatkit/assets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="__PUBLIC__/product/static_edit/cli/css/clicon.css">
	<link rel="stylesheet" href="__PUBLIC__/product/static_edit/cli/flatkit/assets/styles/cli_global.css">
	<link href="__PUBLIC__/product/static_edit/cli/umeditor/themes/default/css/umeditor.css" rel="stylesheet">
	<link rel="stylesheet" href="__PUBLIC__/product/static_edit/static/css/product_add_8757449.css">
	<link rel="stylesheet" type="text/css" href="__CUI__/css/layui.css"/>
</block>
<block name="main">
<input type="hidden" id="editId" value="{$data['id']}">
<input type="hidden" id="menuId" value="{$menuId}">
<input type="hidden" id="codeType" value="{$data['codeType']}">

	<div class="user_plugins_wraper">
		<div class="editor_main" id="editor_main">
			<div class="w-810 p-t-md">
				<div class="p-b-lg box-shadow-z0">
					<div class="alert alert-warning none" id="VerifyTip"></div>
					<div class="row active_row">
						<div class="pull-left light box" style="min-height: 600px;width:810px;">
							<div class="white col-md-12 p-a-0 m-b-0 active_edit_container">
								<div class="active_main">
									<div class="tab-content">
										<div>
											<div class="type_section imgtext_section">
												<div class="row no-gutter">
													<div class="col-md-12">
														<div>
												    		<div class="edit-left">
																<div class="upload-img">
																	<div class="layui-upload">
																	  <div class="layui-upload-list">
																	    <img class="layui-upload-img" id="demo1" src="<?php if($data['content']['picUrl']): ?>/Uploads/product/file/{$data['picUrl']}<?php else: ?>__PUBLIC__/images/noimg.png<?php endif; ?>">
																	    <p id="demoText"></p>
																	  </div>
																	  <button type="button" class="layui-btn" id="testcp">上传图片</button>
																	  <input class="layui-upload-file" type="file" name="file">
																	</div> 
															        <input type="hidden" id="uploadPicUrl" value="{$data['picUrl']}">
																</div><br>
												    		</div>
												    		<div class="clear"></div>
												    	</div>
													</div>
													<div class="col-md-12">
														<div class="pro_tit">
										            		<input type="text" class="form-control input text font20" id="title" value="{$data['title']}" placeholder="请输入标题名称">
										                </div>
													</div>
												</div>
												<div class="row no-gutter m-b-md">
													<div class="col-md-12">
														<div class="editor_box imgtext_editor block" editor-type="um">
															<div class="umeditor_alert alert alert-success alert-dismissible text-center fade" id="umeditor_alert" role="alert">
																<button type="button" class="close" data-dismiss="alert" aria-label="Close" id="alert_msg_close">
                                            						<span aria-hidden="true">×</span>
																</button>请在下面的示例内容上修改！
															</div>
															<script type="text/plain" id="myEditor" style="width: 610px; height:350px; padding: 30px; z-index: 9;">{$data['content']}</script>
														</div>
													</div>
												</div>
												<input type="hidden" value="" id="img"></div>
										</div>
									</div>
								</div>
							</div>
							<div id="modal-alert" class="modal fade" data-backdrop="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">
			                                <span aria-hidden="true">×</span>
			                                <span class="sr-only">Close</span></button>
											<h4 class="modal-title"></h4>
										</div>
										<div class="modal-body p-lg"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="edit_right_content" id="edit_right_content">
							<div class="p-a" id="qrcode_img_pro">
								<img src="<?php if($data['id']): ?>/Uploads/product/{$data['id']}.png<?php else: ?>__PUBLIC__/images/nocode.png<?php endif; ?>" class="edit_qrcode_img pointer" data-save="">
							</div>
							<div class="p-x p-y-0">
								<a href="<?php if($data['id']): ?>/Uploads/product/{$data['id']}.png<?php else: ?>__PUBLIC__/images/nocode.png<?php endif; ?>" download="产品活码" id="xiazai" class="btn-sm btn_xz" >下载</a>
							</div>
							<div class="p-x p-y-0">
								<button id="save_btn" class="btn-sm green-btn">生成二维码</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="tip-modal-sm" class="modal fade" data-backdrop="true">
		<div class="modal-dialog modal-400">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">[Title]</h4></div>
				<div class="modal-body text-center p-a-lg" style="padding: 3rem!important;">
					<h5>[Message]</h5></div>
				<div class="modal-footer">
					<button type="button" class="btn dark-white cancel" data-dismiss="modal">[BtnCancel]</button>
					<button type="button" class="btn green ok" data-dismiss="modal">[BtnOk]</button>
				</div>
			</div>
		</div>
	</div>
	
	<!--插入电话名片-->
	<div id="modal-tellink" class="modal" data-backdrop="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">插入名片</h4></div>
				<div class="modal-body text-center">
					<div class="form-group row">
						<label class="col-sm-2 ptb7 form-control-label">模块标题</label>
						<div class="col-sm-9">
							<input id="modal-tellink-input" class="form-control" type="text">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label"></label>
						<div class="col-sm-9">
							<div class="b-a" style="padding:8px 10px 7px 0px;">
								<div class="pull-right">
									<a href="{:U('Admin/Livecode/add',['vcard'=>1])}" class="btn bead white " target="_blank">新建名片</a>
								</div>
								<div class="cl"></div>
							</div>
							<ul class="vcard-list b-l b-r b-b" style="display: block;">
								<li>
									<label mnt="杜山东">
										<input type="radio" name="vcard_info" value="" tel="15875566606" usern="杜山东" position="总经理">杜山东  15875566606 总经理
									</label>
								</li>
								<li>
									<label mnt="杜山西">
										<input type="radio" name="vcard_info" value="" tel="18356852017" usern="杜山西" position="大经理">杜山西 18356852017 大经理
									</label>
								</li>
								<li>
									<label mnt="杜山中">
										<input type="radio" name="vcard_info" value="" tel="15156785241" usern="杜山中" position="小经理">杜山中 15156785241 小经理
									</label>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn dark-white bead" data-dismiss="modal">取消</button>
					<button type="button" class="btn green bead" id="modal-tellink-confirm">确定</button>
				</div>
			</div>
		</div>
	</div>
	<!--插入联系我们-->
	<div id="modal-contact" class="modal" data-backdrop="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">联系我们</h4>
				</div>
				<div class="modal-body text-center">
					<div class="form-group row">
						<label class="col-sm-2 ptb7 form-control-label">模块标题</label>
						<div class="col-sm-9">
							<input id="modal-tit-input" class="form-control" type="text">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 ptb7 form-control-label">描述</label>
						<div class="col-sm-9">
							<input id="modal-depict-input" class="form-control" type="text">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 ptb7 form-control-label">详细地址</label>
						<div class="col-sm-9">
							<input id="modal-address-input" class="form-control" type="text">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 ptb7 form-control-label">联系方式</label>
						<div class="row col-sm-9 m-l-0">
							<div class="contact_tbody row m-l-0"></div>
							<div class="col-sm-9 p-l-0 p-r-0">
								<button type="button" class="add_c_link btn btn-sm" val="0">
									<i class="fa fa-plus fa-fw m-r-xs"></i>
									<span>添加联系信息</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn dark-white bead" data-dismiss="modal">取消</button>
					<button type="button" class="btn green bead" id="modal-contact-confirm">确定</button>
				</div>
			</div>
		</div>
	</div>
	<!--插入微信号-->
	<div id="modal-wechat" class="modal" data-backdrop="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">联系我们</h4>
				</div>
				<div class="modal-body text-center">
					<div class="form-group row">
						<label class="col-sm-2 ptb7 form-control-label">模块标题</label>
						<div class="col-sm-9">
							<input id="modal-wechat-input" class="form-control" type="text">
						</div>
					</div>
					<div class="form-group row" style="position: relative;">
						<label class="col-sm-2 ptb7 form-control-label">二维码链接</label>
						<span class="pos-abt"><i class="fa fa-question-circle"></i></span>
						<div class="wechatTip">
							<div class="wechatTip-arrow" style="left: 50%;"></div>
							<div class="wechatTip-inner">该模板只有在微信扫一扫时展示！</div>
						</div>
						<div class="col-sm-9 text-left">
							<input id="modal-ewm-input" class="form-control" type="text">
							<div class="uploadewm">
								<div class="checkbox m-b-0">
									<label class="checkbox-inline">
										<input type="checkbox" value="" class="check-up-box">&nbsp;允许通过扫描微信二维码添加好友
										<span class="fa fa-question-circle text-lightgrey ewmcode"></span>
										<div class="wechatTip">
											<div class="wechatTip-arrow" style="left: 50%;"></div>
											<div class="wechatTip-inner">扫描者可以直接在页面中通过链接添加你为好友</div>
										</div>
									</label>
								</div>
								<div class="upload-tool-btns m-t-10 light row m-l-0 m-r-0">
									<div class="upload-img">
										<div class="layui-upload">
										  <div class="layui-upload-list">
										    <!--<img class="layui-upload-img" id="demo5" src="__PUBLIC__/images/noimg.png">-->
										    <p id="demoText5"></p>
										  </div>
										  <button type="button" class="layui-btn" id="uploadCode">上传二维码</button>
										  <input class="layui-upload-file" type="file" name="file">
										</div> 
								        <input type="hidden" id="uploadWechat" value="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn dark-white bead" data-dismiss="modal">取消</button>
					<button type="button" class="btn green bead" id="modal-wechat-confirm">确定</button>
				</div>
			</div>
		</div>
	</div>
	<div class="maskmodal"></div>
</block>
<block name="script">
	<script src="__PUBLIC__/product/static_edit/cli/flatkit/libs/jquery/bootstrap/dist/js/bootstrap_V3.js"></script>
	<script src="__PUBLIC__/product/static_edit/static/js/lib/sea_3c3cab9.js"></script>
	<script>
		//防止common被运营商劫持，读不到变量
		var CLI_DOMAIN = 'http://www.livecode.com/public/product',
			SENIOR_EDIT = 'http://www.livecode.com/admin.php?s=/admin/product',
			STATIC_SERVICE = 'http://www.livecode.com/public/product/static_edit';
	</script>
	<!--<script src="__PUBLIC__/product/static_edit/cli/js/lib/plug/jceb.msgtip.js?v=20170314"></script>-->
	<script src="__PUBLIC__/product/static_edit/cli/js/clistyle.js?v=20170314"></script>
	<script>
		var type_change;
		var coding = false;
		var edition_id = "";
		var file_size = "";
		$(function(){
			//产品活码
		    $("#save_btn").click(function(){ 
		        var editId  = $("#editId").val();
    			var menuId   = $("#menuId").val();
		        var codeType= $("#codeType").val();     //管理员审核编辑
		        var picUrl  = $("#uploadPicUrl").val();
		        var title   = $("#title").val();
		        var content = $("#myEditor").html();
		        var postUrl = 'admin.php?s=/admin/product/add';

		        if (picUrl == '') {
		            $.alertMessager('请上传图片!');return;
		        }
		        if (content == '') {
		            $.alertMessager('请输入内容!');return;
		        }
		        if (codeType) {
		            postUrl = 'admin.php?s=/admin/checkcode/edit/codeType/'+codeType+'/id/'+editId;
		        }
		        $.ajax({
		            url: postUrl,
		            type: 'POST',
		            data: {editId:editId,menuId:menuId,title:title,content:{picUrl:picUrl,content:content}},
		            success: function (data) {  
		                if(data.status == 1){
		                    $("#qrcode_img_pro img").attr('src',data.url);
		                    $("#xiazai").attr('href',data.url);
		                    $.alertMessager('二维码已成功保存!','success');
		                    if (data.info.site) {
		                        setTimeout(function(){self.location=document.referrer;},2000);
		                    }else{
		                        if (data.info.type) {
		                            setTimeout(function(){location.href = "admin.php?s=/admin/product/child/type/"+data.info.type;},2000);
		                        }else{
		                            setTimeout(function(){location.href = "admin.php?s=/admin/product/index";},2000);
		                        }
		                    }
		                }else{
		                    $.alertMessager(data.info);return;
		                }
		            }
		        });
		    });
	    })
	</script>
	<script type="text/javascript" src="__PUBLIC__/product/static_edit/static/js/lib/plug/jquery.colorpicker_1d06d07.js"></script>
	<script charset="utf-8" src="__PUBLIC__/product/static_edit/cli/umeditor/umeditor.config.js"></script>
	<script charset="utf-8" src="__PUBLIC__/product/static_edit/cli/umeditor/umeditor.js"></script>
	<script src="__PUBLIC__/product/static_edit/cli/umeditor/lang/zh-cn/zh-cn.js"></script>
	<script src="__PUBLIC__/product/static_edit/static/js/product_add_5ab8748.js"></script>
	<script src="__PUBLIC__/product/static_edit/cli/js/modalTips.js"></script>
	<script type="text/javascript" src="__CUI__/js/layui.js"></script>
	<script type="text/javascript" src="__CUI__/js/moreupload.js"></script>
</block>